*, *::before, *::after {
    box-sizing: border-box; /* Evita que o padding aumente o tamanho do elemento */
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; It prevents section from jumps*/
    padding-top: 150px; 
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #fff;
}

section{
    width: 90%;
    max-width: 400px;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
}

p{
    margin: 1.5rem;
    font-style: italic;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, select{
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(65, 133, 65);
    box-sizing: border-box;
}

#form-btn{
    padding: .5rem;
    background-color: rgb(65, 133, 65);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
}

div{
    border: 1px solid #fff;
    border-top: none;
    padding: 20px;
    margin-top: 5px;
    width: 90%;
    max-width: 400px;
}

ol{
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
}
